<div class="card">
  {% if post.image %}
  <div class="card-img-top"
    style="background-image: url('{{post.image}}')">
  </div>
  {% endif %}
  <div class="card-body">
    {% if post.source %}
    <p class="float-right">
      <img class="org-logo"
        src="{{ site.data.organisations[post.source].logo }}"
      />
    </p>
    {% endif %}
    <h4 class="card-title">
      {% if post.canonical_url %}
        <a href="{{ post.canonical_url }}" target="_blank">{{ post.title }}</a>
        <a hidden href="{{ post.url }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </h4>
    <p class="small">{{ post.date | date: '%B %d, %Y' }}</p>
    <p class="card-text">{{post.description}}</p>
  </div>
</div>
